<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="yabe/fragments :: head"></th:block>
    <!--suppress HtmlUnknownTarget : Placeholder-->
    <link href="../../static/css/yabe/main.css" th:href="@{/css/yabe/main.css}" rel="stylesheet"/>

    <title>Professional Beginner</title>
</head>
<body>
<!--    navbar come here          -->
<th:block th:include="yabe/fragments :: navbar"></th:block>
<!-- end navbar  -->


<!--/*@thymesVar id="posts" type="List<BlogPostDTO>"*/-->
<div class="wrapper">
    <div class="container">

        <div class="row">
            <div class="col-sm-9">
                <div class="main-content">

                    <div th:each="post : ${posts}" class="article">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="text-center">
                                    <span class="label label-primary">Featured</span>
                                    <a th:href="@{/post/{id}(id=${post.id})}">
                                        <h3 class="title" th:text="${post.title}"></h3>
                                    </a>
                                    <h6 class="title-uppercase" th:text="${post.date}"></h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="article-image text-center">
                                    <a th:href="@{/post/{id}(id=${post.id})}">
                                        <div class="card-big-shadow">
                                            <div class="card" data-radius="none"
                                                 th:style="'background-image:url(' + @{/assets/lion.jpg} + ');'"
                                                 style="background-image: url('../../static/assets/lion.jpg');">
                                            </div> <!-- end card -->
                                        </div>
                                    </a>
                                </div>
                                <div class="article-content text-center">
                                    <p th:utext="${post.summary}"></p>
                                    <a th:href="@{/post/{id}(id=${post.id})}">
                                        <button class="btn btn-danger btn-fill btn-sm">Read more</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <hr/>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <div class="pull-right">
                            <button class="btn btn-simple btn-default btn-move-right">Older Posts <i
                                    class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <th:block th:include="yabe/fragments :: sidebar"></th:block>
        </div>
    </div>
</div>


<!-- Modal Bodies come here -->

<!--   end modal -->

</body>
<th:block th:include="yabe/fragments :: scripts"></th:block>
</html>