<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="yabe/fragments :: head"/>
    <!--suppress HtmlUnknownTarget : Placeholder-->
    <link href="../../static/css/yabe/main.css" th:href="@{/css/yabe/main.css}" rel="stylesheet"/>

    <title>Professional Beginner</title>
</head>
<body>
<!--    navbar come here          -->
<th:block th:include="yabe/fragments :: navbar"/>
<!-- end navbar  -->


<!--/*@thymesVar id="posts" type="List<BlogPostDTO>"*/-->
<div class="wrapper">
    <div class="container">


        <div class="row">
            <div class="col-sm-9">
                <div class="main-content">
                    <div class="row" th:if="${!#strings.isEmpty(currentTag)}">
                        <div class="col-sm-12">
                            <h3 class="text-center text-capitalize" th:text="${currentTag}"></h3>
                        </div>
                    </div>

                    <div th:each="post : ${posts}" class="article">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="text-center">

                                    <span th:each="tag : ${post.tags}" th:text="${tag}"
                                          class="label label-primary blog-tag"></span>
                                    <a th:href="@{/post/{id}(id=${post.id})}">
                                        <h3 class="title" th:text="${post.title}"></h3>
                                    </a>
                                    <h6 class="title-uppercase" th:text="${post.date}"></h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="article-image text-center">
                                    <a th:href="@{/post/{id}(id=${post.id})}">
                                        <div class="card-big-shadow">
                                            <div class="card" data-radius="none"
                                                 th:style="'background-image:url(' + @{/assets/blog-post/{id}/hero.jpg(id=${post.id})} + ');'"
                                                 style="background-image: url('../../static/assets/lion.jpg');">
                                            </div> <!-- end card -->
                                        </div>
                                    </a>
                                </div>
                                <div class="article-content text-center">
                                    <p th:utext="${post.summary}"></p>
                                    <a th:href="@{/post/{id}(id=${post.id})}">
                                        <button class="btn btn-danger btn-fill btn-sm">Read more</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <hr/>
                <div class="row article-footer">
                    <div class="col-md-2">
                        <div th:unless="${isFirstPage}" class="pull-left">
                            <a th:href="@{{previousPage}(previousPage=${linkOfPreviousPage})}">
                                <button class="btn btn-simple btn-default btn-move-left">
                                    <i class="fa fa-angle-left"></i>Newer Posts
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                        <div th:unless="${isLastPage}" class="pull-right">
                            <a th:href="@{{nextPage}(nextPage=${linkOfNextPage})}">
                                <button class="btn btn-simple btn-default btn-move-right">Older Posts
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <th:block th:include="yabe/fragments :: sidebar"></th:block>
        </div>
    </div>
</div>


<!-- Modal Bodies come here -->

<!--   end modal -->

</body>
<th:block th:include="yabe/fragments :: scripts"/>
</html>