<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="yabe/fragments :: head"/>
    <meta charset="UTF-8"/>
    <title>Newsletter</title>
</head>
<body>
<div class="container">


    <div class="row">
        <h1>Hello</h1>
        <p>How are you doing ?</p>
        <p th:text="${post}"></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary btn-lg" onclick="setCookie()">
                Set cookie
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-lg" onclick="removeCookie()">
                Remove cookie
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-lg" onclick="displayCookie()">
                Test Cookie
            </button>
        </div>
    </div>

    <div class="row">
        <h2 id="cookieResult"></h2>
    </div>

    <div class="row">
        <div style="height: 3000px; background-color: crimson;"></div>
    </div>

</div>







<!-- Modal -->
<div class="modal fade" id="newsletterPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-border-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h6 class="text-muted">Welcome</h6>
                <h3 class="modal-title">Paper Kit</h3>
                <p>Log in to your account</p>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="firstname" value="" placeholder="Email"
                               class="form-control border-input"/>
                        <button type="submit" class="btn btn-fill btn-block">Log in</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-border-footer">
                <span class="text-muted">Looking <a href="#">create an account</a> ?</span>
            </div>
        </div>
    </div>
</div>


</body>
<th:block th:include="yabe/fragments :: scripts"/>
<script type="text/javascript">
    $(document).ready(function () {
        initNewsletterPopup();
    });
</script>
</html>