<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- Latest compiled and minified CSS -->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{//maps.googleapis.com/maps/api/js}"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'/>

    <title>Title</title>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-circle" data-toggle="modal" data-target="#myModal" src="http://placekitten.com/g/100/100"/>
        </div>
        <div class="col-sm-6 text-right text-uppercase">
            <h1>Jane Doette</h1>
            <h3>Front-end Ninja</h3>
        </div>
    </div>
    <div class="row">
        <img class="col-xs-12 img-responsive" src="http://placekitten.com/g/1140/350"/>
    </div>
    <div class="row">
        <h2 class="col-xs-12">Featured Work</h2>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img class="center-block img-responsive" src="http://placekitten.com/g/555/300"/>
            <h3>Appify</h3>
            <p><a href="http://github.com">Link to project</a></p>
        </div>
        <div class="col-lg-6">
            <img class="center-block img-responsive" src="http://placekitten.com/g/555/300"/>
            <h3>Appify</h3>
            <p><a href="http://github.com">Link to project</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <img class="center-block img-responsive" src="http://placekitten.com/g/555/300"/>
            <h3>Appify</h3>
            <p><a href="http://github.com">Link to project</a></p>
        </div>
        <div class="col-xs-12 col-lg-6">
            <img class="center-block img-responsive" src="http://placekitten.com/g/555/300"/>
            <h3>Appify</h3>
            <p><a href="http://github.com">Link to project</a></p>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title" id="myModalLabel">Hello Silvia</h1>
                </div>
                <div class="modal-body">
                    <img class="center-block img-responsive" src="http://apps.timwhitlock.info/static/images/emoji/emoji-android/1f618.png" id="emoji"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>