<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Main page</title>

    <!-- Latest compiled and minified CSS -->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"></link>
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{//maps.googleapis.com/maps/api/js}"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"></link>

</head>
<body>
<div class="container">
    <div class="row">
        <h1>Hello this is a test</h1>
    </div>
    <div class="row">
        <div id="map"></div>
    </div>

    <script th:src="@{/js/main.js}"></script>
</div>
</body>
</html>