<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>

    <!-- Latest compiled and minified CSS -->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!--suppress HtmlUnknownTarget : Placeholder-->
    <link href="../static/css/yabe.css" th:href="@{/css/yabe.css}" rel="stylesheet"/>
    <title>Yabe</title>
</head>
<body>
<div class="container">
    <div class="row">

    </div>
</div>
</body>
</html>