<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<!-- created with Free Online Sitemap Generator www.xml-sitemaps.com -->

<url>
  <loc>http://www.professionalbeginner.com/</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/manifesto</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/post/7</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/post/6</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/post/5</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/post/4</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/pages/1</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/tags/architecture</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/tags/featured</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/tags/android</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/tags/open-article</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/tags/tdd</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/post/2</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/dev/what?what=todo</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/post/8</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/post/3</loc>
  <changefreq>hourly</changefreq>
</url>
<url>
  <loc>http://www.professionalbeginner.com/post/1</loc>
  <changefreq>hourly</changefreq>
</url>
</urlset>