* {
    /*border: solid 1px crimson !important;*/
}

html, body{
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.main-content {
    min-height: 100%;
}

.sidebar {
    /*border: solid 1px crimson !important;*/
}

.sidebar .label {
    margin-bottom: 5px;
}

#on-the-side {
    top: 0;
    max-width: 210px;
    max-height: 100%;
    overflow-y: auto;
    padding-top: 80px;
    padding-bottom: 30px;
}

#at-the-bottom {
    max-width: 280px;
}

.wrapper {
    min-height: 100%;
    background-color: #FFFCF5;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus{
    color: white;
}

.navbar .navbar-nav > li > a.nav-item {
    border-color: transparent !important;
    color: white !important;
}

#profile-picture {
    margin: 10px;
}

pre {
    background-color: #F0F0F0;
}

/*For the sticky navbar only on desktop*/
.main-content {
    padding-top: 80px;
}
@media (max-width: 767px) /* @grid-float-breakpoint -1 */ {
    .main-content {
        padding-top: 0;
    }

    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
}
/*END - For the sticky navbar only on desktop*/