.article {
    border-top: 1px solid #F1EAE0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    min-height: 430px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card-big-shadow {
    max-width: 100%;
}

.article > .article-content {
    color: red;
}
