* {
    /*border:solid crimson 1px !important;*/
}

.article-detail strong {
    color: #7A9E9F;

}

.article-detail h2 {
    text-align: start;
}

.article-detail h3 {
    text-align: start;
}

.article-detail h4 {
    text-align: start;
}

.article-detail a {
    color: #EB5E28;;
}

.article-detail a:hover {
    color: #B33C12;
}

.article-detail .card-image {
    margin: 30px 120px;
}

#article-title {
    margin-bottom: 50px;
}