* {
    /*border:solid crimson 1px !important;*/
}

@media (min-width: 767px) {
    /*This adds a padding when navigating directly to an anchor on desktop*/
    /*To prevent the title to be hidden by the navbar */
    .article-detail h2 a[name*="-"] {
        display: block;
        height: 115px;
        margin-top: -115px;
        visibility: hidden;
    }

    /*This adds a padding when navigating directly to an anchor on desktop*/
    /*To prevent the title to be hidden by the navbar */
    .article-detail h3 a[name*="-"], .article-detail h4 a[name*="-"] {
        display: block;
        height: 105px;
        margin-top: -105px;
        visibility: hidden;
    }
}

.article-detail strong {
    color: #7A9E9F;
}

.article-detail h2 {
    text-align: start;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.article-detail h3 {
    text-align: start;
}

.article-detail h4 {
    text-align: start;
}

.article-detail a {
    color: #EB5E28;
    font-weight: bold;
}

.article-detail a:hover {
    color: #B33C12;
}

.article-detail .card-image {
    margin: 30px auto;
}

#article-title {
    margin-bottom: 50px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}